@font-face {
  font-family: "Geist", sans-serif;
  src: url(../../../public/fonts/Geist/Geist-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono", monospace;
  src: url(../../../public/fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-geist: "Geist", sans-serif;
  --font-roboto-monospace: "Roboto Mono", monospace;

  --font-scale: 1.333;

  --text-p: 1rem;
  --text-small: calc(var(--text-p) / var(--font-scale));
  --text-h5: calc(var(--text-p) * var(--font-scale));
  --text-h4: calc(var(--text-h5) * var(--font-scale));
  --text-h3: calc(var(--text-h4) * var(--font-scale));
  --text-h2: calc(var(--text-h3) * var(--font-scale));
  --text-h1: calc(var(--text-h2) * var(--font-scale));
}
