@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@theme {
  --font-ibm-plex-serif: "IBM Plex Serif", serif;

  --font-scale: 1.333;

  --text-p: 1rem;
  --text-small: calc(var(--text-p) / var(--font-scale));
  --text-h5: calc(var(--text-p) * var(--font-scale));
  --text-h4: calc(var(--text-h5) * var(--font-scale));
  --text-h3: calc(var(--text-h4) * var(--font-scale));
  --text-h2: calc(var(--text-h3) * var(--font-scale));
  --text-h1: calc(var(--text-h2) * var(--font-scale));
}
